{% extends "dashbase.html" %}
{% block body_block %}
{% load staticfiles %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Mailbox
           
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Mailbox</li>
          </ol>
        </section>
    
        <!-- Main content -->
        <section class="content">
          <div class="row">
         
            <div class="col-md-12 ">
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Compose New Message</h3>
                </div>
                <!-- /.box-header -->
                <form role="form" method="POST" action="{% url 'admindashboard:sendMail' %}" enctype="multipart/form-data" >
                  {% csrf_token %}
                <div class="box-body">
                  <div class="form-group">
                        <label>To:</label> <input class="form-control" placeholder="To:" name="tomail" value="{{ mailid }}">
                  </div>
                  <div class="form-group">
                    <label>Subject:</label><input class="form-control" placeholder="Subject:" name="subject" value="Congratulations {{ fname }}! You're shortlisted.">
                  </div>
                  <div class="form-group">
                        <textarea id="compose-textarea" class="form-control" name="msg" style="height: 300px">
                          <h1><u>Congratulations!</u></h1>
                          <h4>Hi {{ fname }},</h4>
                          <h4>This mail is in reference to the job {{ jobName }} you applied on GMT.</h4>
                          <p>We are happy to announce that you have been shortlisted for the job <b>{{ jobName }} ( JobID: {{ jobID }} ).</b></p>
                      
                          <p>As for the further process, we'll contact you as soon as possible. Make sure that you have a valid Aadhaar Card
                              ( which you submitted while applying ), valid caste certificate ( should not be old ), your passport size
                              photographs and valid marksheets.
                          </p>
                         
                        
                          <p>We will be happy to see you working with us!</p>
                          <br>
                          <p>Thank you,</p>
                         
                          <p>GMT Realtech</p>
                        </textarea>
                  </div>
                
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                  <div class="pull-right">
                   <input type="hidden" value="{{ candid }}" name="candid">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Send</button>
                  </div>
                  <a href="{% url 'admindashboard:prepareNewMail' %}"><button type="button" class="btn btn-default"><i class="fa fa-times"></i> Discard</button></a>
                </div>
                <!-- /.box-footer -->
                </form>
              </div>
              <!-- /. box -->
            </div>
            <!-- /.col -->
            {% if code != "SUCCESS" %}
                  <div class="alert alert-success alert-dismissible" style="display: none;">
                {% else %}
                    <div class="alert alert-success alert-dismissible" style="display: block;">
                {% endif %}
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4><i class="icon fa fa-check"></i> {{ re }}</h4>    
                    </div>
                  </div>
          </div>
          <!-- /.row -->
        </section>
        <!-- /.content -->
      </div>
{% endblock %}  

  
